[Bb]in/
[Oo]bj/

# AutoGit
.HistoryData

# NCrunch
_NCrunch_Sando
*.ncrunchsolution

# mstest test results
TestResults

# nuget packages
packages/*/

# user specific files
*.suo
*.user

SandoPerformanceData.txt
Sando/packages/
